@import '~antd/dist/antd.css';

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 400px;
}

.login-form-button {
  width: 100%;
}
